.SongSheet {
	width: 100%;
	.title {
		.songText {
			font-size:32rpx;
			font-family:SourceHanSansCN;
			font-weight:500;
			color:rgba(41,41,41,1);
			.num {
				font-size: 16rpx;
			}
		}
		.songRight {
			.titleTip {
				font-size:22rpx;
				font-family:SourceHanSansCN;
				font-weight:400;
				color:rgba(68,68,68,1);
				margin-right: 16rpx;
			}
			.cuIcon-right {
				font-size: 18rpx;
				color: #313131;
			}
		}
	}
	.sheetList {
		width: 100%;
		white-space: nowrap;
		margin-top: 39rpx;
		.songItem {
			display: inline-block;
			width: 220rpx;
			height: 296rpx;
			margin-right: 15rpx;
			margin-bottom: 39rpx;
			.songImageBox {
				position: relative;
				width: 100%;
				height: 220rpx;
				.songImage {
					position: absolute;
					z-index: 1;
					width: 100%;
					height: 100%;
				}
				.playVolume {
					position: absolute;
					z-index: 2;
					left: 9rpx;
					bottom: 6rpx;
					.uIcon-playfill {
						font-size: 20rpx;
						color: #FFFFFF;
					}
					.num {
						font-size:18rpx;
						font-family:SourceHanSansCN;
						font-weight:400;
						color:rgba(255,255,255,1);
						margin-left: 11rpx;
					}
				}
			}
			.des {
				display: inline-block;
				word-wrap: break-word;
				width: 220rpx;
				padding: 0rpx 24rpx 0rpx 6rpx;
				font-size:22rpx;
				font-family:SourceHanSansCN;
				font-weight:400;
				color:rgba(41,41,41,1);
				line-height:36rpx;
				margin-top: 11rpx;
			}
		}
		.songItem:last-child {
			margin-right: 0rpx;
		}
	}
	.imageSheet {
		width: 100%;
		margin-top: 39rpx;
		flex-wrap: wrap;
		.songItem {
			position: relative;
			width:212rpx;
			height:109rpx;
			background:rgba(67,67,67,1);
			border-radius:10rpx;
			margin-right: 27rpx;
			margin-bottom: 34rpx;
			.songImage {
				position: absolute;
				left: 0rpx;
				top: 0rpx;
				width: 100%;
				height: 100%;
				opacity:0.3;
				z-index: 1;
			}
			.songText {
				width: 100%;
				height: 100%;
				font-size:30rpx;
				font-family:SourceHanSansCN;
				font-weight:500;
				color:rgba(255,255,255,1);
				z-index: 2;
			}
		}
		.songItem:nth-child(3n) {
			margin-right: 0rpx
		}
	}
	.imageScroll {
		width: 100%;
		padding-bottom: 26rpx;
		white-space: nowrap;
		margin-top: 39rpx;
		border-bttom: 6rpx solid #E5E5E5;
		.songItem {
			display: inline-block;
			width: 129rpx;
			margin-right: 30rpx;
			.songImage {
				width: 100%;
				height: 129rpx;
			}
			.playVolume {
				flex-direction: column;
				width: 100%;
				margin-top: 24rpx;
				text-align: left;
				padding-left: 4rpx;
				.sheetName {
					width: 100%;
					font-size:28rpx;
					font-weight:400;
					color:rgba(45,45,45,1);
				}
				.num {
					width: 100%;
					font-size:22rpx;
					font-weight:400;
					color:rgba(100,100,100,1);
					margin-top: 17rpx;
				}
			}
		}
		.songItem:last-child {
			margin-right: 0rpx;
		}
	}
	.topicScroll {
		width: 100%;
		padding-bottom: 26rpx;
		white-space: nowrap;
		margin-top: 39rpx;
		border-bttom: 6rpx solid #E5E5E5;
		.songItem {
			position: relative;
			display: inline-block;
			width: 385rpx;
			height: 219rpx;
			margin-right: 30rpx;
			.songImage {
				position: absolute;
				left: 0rpx;
				top: 0rpx;
				width: 100%;
				height: 100%;
			}
			.playVolume {
				position: relative;
				flex-direction: column;
				width: 100%;
				height: 100%;
				text-align: left;
				padding-left: 15rpx;
				padding-bottom: 27rpx;
				.sheetName {
					font-size:32rpx;
					font-family:SourceHanSansCN;
					font-weight:500;
					color:rgba(255,255,255,1);
					line-height:60rpx;
				}
				.line {
					width:23rpx;
					height:5rpx;
					background:rgba(255,255,255,1);
				}
			}
		}
		.songItem:last-child {
			margin-right: 0rpx;
		}
	}
}