.pageIndex {
	width: 100%;
	height: auto;
	padding: 0rpx 30rpx 100rpx;
	background-color: #FFF;
	.pageTop {
		width: 100%;
		height: 122rpx;
		.sidebarBtn {
			font-size: 58rpx;
			color: #313131;
		}
		.navList {
			flex: 1;
			.navTitle {
				font-size:27rpx;
				font-family:SourceHanSansCN;
				font-weight:400;
				color:rgba(37,37,37,1);
			}
			.activeColor {
				font-size:36rpx;
			}
		}
		.searchBtn {
			font-size: 31rpx;
			color: #252525;
		}
	}
	.banner {
		width: 100%;
		.uni-padding-wrap {
			width: 100%;
			height:336rpx;
			border-radius:10rpx;
			.swiper {
				width: 100%;
				height: 100%;
				.page-section-spacing {
					position: relative;
					width: 100%;
					height: 100%;
					.bannerImage {
						width: 100%;
						height: 100%;
					}
					.point {
						position: absolute;
						width: 100%;
						bottom: 17rpx;
						right: 15rpx;
						.pointItem {
							width:10rpx;
							height:10rpx;
							background:rgba(255,255,255,1);
							opacity:0.3;
							border-radius:50%;
							margin-right: 4rpx;
						}
						.pointItem:last-child {
							margin-right: 0rpx;
						}
						.activeColor {
							color: #FFFFFF;
						}
					}
				}
			}
		}
	}
	.functionalArea {
		width: 100%;
		height: 194rpx;
		.functionalItem  {
			flex-direction: column;
			.functionIcon {
				width: 60rpx;
				height: 60rpx;
			}
			.iconText {
				font-size:24rpx;
				font-family:SourceHanSansCN;
				font-weight:400;
				color:rgba(41,41,41,1);
				line-height:48rpx;
			}
		}
	}
	.recommend {
		width: 100%;
	}
}