.minePage {
	width: 100%;
	height: auto;
	padding: 0rpx 0rpx 100rpx;
	background-color: #FFF;
	.pageTop {
		width: 100%;
		padding: 0rpx 30rpx;
		padding-bottom: 36rpx;
		border-bottom: 6rpx solid #E5E5E5;
		.pageNav {
			width: 100%;
			height: 122rpx;
			.sidebarBtn {
				font-size: 58rpx;
				color: #313131;
			}
			.searchBtn {
				font-size: 31rpx;
				color: #252525;
			}
		}
		.user {
			width: 100%;
			height: 120rpx;
			.name {
				font-size:60rpx;
				font-family:SourceHanSansCN;
				font-weight:bold;
				color:rgba(49,49,49,1);
				background:linear-gradient(0deg,rgba(196,113,245,1) 0.244140625%, rgba(250,113,205,1) 100%);
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;
			}
			.avatar {
				width:62rpx;
				height:62rpx;
			}
		}
		.functionalArea {
			width: 100%;
			margin-top: 30rpx;
			.functionalItem  {
				flex-direction: column;
				.functionIcon {
					width: 60rpx;
					height: 60rpx;
				}
				.iconText {
					font-size:24rpx;
					font-family:SourceHanSansCN;
					font-weight:400;
					color:rgba(41,41,41,1);
					line-height:48rpx;
				}
			}
		}
	}
	.pageCenter {
		width: 100%;
		border-bottom: 6rpx solid #E5E5E5;
		.localItem {
			width: 100%;
			height: 78rpx;
			// padding: 0rpx 33rpx;
			border-bottom: 1rpx solid #E5E5E5;
			.huiIconFont {
				width: 86rpx;
				padding-left: 16rpx;
				color: #313131;
				text-align: center;
			}
			.huiIcongongneng17icon {
				font-size: 38rpx;
			}
			.huiIcongongneng18icon {
				font-size: 38rpx;
			}
			.huiIcongongneng19icon {
				font-size: 38rpx;
			}
			.huiIcongongneng20icon {
				font-size: 34rpx;
			}
			.localText {
				font-size:28rpx;
				font-weight:400;
				color:rgba(49,49,49,1);
				.num {
					font-size: 16rpx;
				}
			}
		}
		.localItem:last-child {
			border-bottom: 0rpx;
		}
	}
	.pageBottom {
		width: 100%;
		padding: 36rpx 28rpx 26rpx;
	}
}